/*============================
		    COLORS
=============================*/

.card-container {
  border: 1px solid black;
  max-width: 100vw;
}

.card {
  border: 1px solid black;
  width: 80%;
}

.title {
  font-size: 1.2rem;
}
*/ .tag {
  font-size: 0.8rem;
}
