/*============================
		    COLORS
=============================*/

.card {
  border-radius: 5px;
}

/* Center image cropper verically and horizontally */
.image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}
/* Specify the padding inside image-container, i.e. the cropper; 
dimensions -> from there js will calculate the image size and position */
.image-cropper {
  border-radius: 5px;
  width: calc(var(--sm-card-h) * 0.8);
  height: calc(var(--sm-card-h) * 0.8);
  overflow: hidden;
  position: relative;
}
.image-cropper > img:hover {
  cursor: pointer;
}

.link {
  position: absolute;
  left: 0.15rem;
  bottom: 0.1rem;
}

.link-icon {
  color: hsla(0, 0%, 9%, 0.678);
}

.title {
  font-size: 1.2rem;
}

.tag-list {
  /* border: 1px solid rgb(63, 177, 29); */
}

.tag {
  font-size: 0.7rem;
}

.tag-icon {
  font-size: 0.7rem;
}
