/*============================
		    COLORS
=============================*/

.card {
  border: 1px solid black;
  background-color: azure;
  padding: ;
}

.image-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.image-cropper {
  border: 2px solid rgb(98, 27, 146);
  width: calc(var(--sm-card-h) * 0.7);
  height: calc(var(--sm-card-h) * 0.7);
  overflow: hidden;
}

.title {
  padding-left: 0.4rem;
  border: 1px solid pink;
  font-size: 1.2rem;
}

.tags {
  border: 1px solid rgb(63, 177, 29);
  font-size: 0.8rem;
}
