/*============================
		    COLORS
=============================*/

:root {
  --darkest: rgb(158, 158, 158);
  --darker: rgb(214, 216, 215);
  --light: rgb(225, 226, 226);
  --lightest: rgb(240, 241, 241);
}

.header {
  background-color: white;
}

.search-input {
  background-color: var(--darker);
  box-shadow: 2px 3px 6px #525252;
  transition: background-color 1s ease;
}

.search-input:focus {
  outline: 0;
  background-color: white;
  /* background-color: var(--lightest); */
}

.search-button {
  background-color: var(--darker);
  border-style: solid;
  box-shadow: 2px 3px 6px #525252;
}

.tag-field {
  box-shadow: 0px 8px 8px 8px white;
  background-color: white;
}

.main {
  color: black;
  background-color: white;
}

.aside-left,
.aside-right {
  background-color: white;
}

.welcome {
  background-color: transparent;
}

.welcome-icon {
  color: var(--darker);
}

.card {
  background-color: white;
  box-shadow: 2px 3px 6px #525252;
}

.image-cropper {
  box-shadow: 2px 3px 6px #525252;
}
