/*==========================
		    LAYOUT
============================*/
:root {
  --sm-card-img: 5rem;
  --sm-card-h: 6rem;
  --sm-side-margin: 6vw;
  --sm-main-width: calc(100vw - (2 * var(--sm-side-margin)));
}

body {
  margin: 0;
  padding: 0;
}

.header {
  /* margin-top: 0.5rem; */
  position: fixed;
  grid-area: header;
  min-height: 6rem;
  z-index: 1200;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  /* border: 1px solid red; */
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  /* flex-wrap: wrap; */
}

.tag-field {
  position: fixed;
  z-index: 1200;
  top: 5rem;
  left: var(--sm-side-margin);
  grid-area: tag-field;
  width: var(--sm-main-width);
  min-height: 3rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  /* padding-top: 0.5rem; */
}

.main {
  grid-area: main;
  position: relative;
}

.aside-left {
  grid-area: aside-l;
}

.aside-right {
  grid-area: aside-r;
}

/* Center the icon  */
.welcome,
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* Display logo on welcome and when fething recipes  */
.welcome,
.loading > i {
  font-size: 4rem;
}

/* Fade main when fetching recipes:  */
.loading {
  transition: background-color 0.5s ease;
  z-index: 1500;
  background-color: rgba(251, 249, 249, 0.815);
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: var(--sm-side-margin) 1fr var(--sm-side-margin);
  grid-template-rows: 5rem 3rem 1fr;
  grid-template-areas:
    "header header header"
    "tag-field tag-field tag-field"
    "aside-l main aside-r";
}

/* Mobile-first approach; could be planned differently on larger screeens */
.card-list {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
}

.card {
  width: 100%;
  height: var(--sm-card-h);
  margin: 0.5rem;
  justify-self: center;
  display: grid;
  grid-template-columns: var(--sm-card-h) 1fr;
  grid-template-rows: 66% 33%;
  grid-template-areas:
    "image title"
    "image tags";
}

.image-container {
  grid-area: image;
  width: var(--sm-card-h);
  height: var(--sm-card-h);
}

.title {
  grid-area: title;
  padding: 0.3rem 0.3rem 0 0;
}

.tags {
  grid-area: tags;
}
