/*============================
		    SEARCH BAR
=============================*/

.search-bar {
  position: relative;
}

.search-input {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.search-button {
  border: none;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 1rem;
  top: -2rem;
  bottom: -2rem;
}

.fas {
  font-size: 1.5rem;
}
