/*============================
		    SEARCH BAR
=============================*/
:root {
  --input-bg: transparent;
}

.search-bar {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

input:focus {
  outline: 0;
  background-color: white;
}

input:hover {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color white 1s ease;
}

.search-button {
  border: none;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 1rem;
  top: -2rem;
  bottom: -2rem;
}

i {
  background-color: var(--input-bg);
}

.fas {
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.fas:hover {
  color: red;
  transform: scale(1.05);
  cursor: pointer;
}
