/*============================
		    SEARCH BAR
=============================*/

:root {
  /* Search text input height for small devices: */
  --sm-input-height: calc(var(--sm-card-h) / 2.5);
  /* Search text input width for small devices: */
  --sm-input-width: calc(
    var(--sm-main-width) - var(--sm-input-height) - 4 * var(--search-bar-bd-w) -
      var(--input-l-pad)
  );
  /* Search text input padding-left property: */
  --input-l-pad: 0.8rem;
  /* Search text input border radius */
  --search-bar-bd-rd: calc(var(--sm-input-height) / 2);
}

.search-input {
  height: var(--sm-input-height);
  width: var(--sm-input-width);
  max-width: 400px;
  font-size: 1.2rem;
  padding: 0 calc(var(--input-l-pad) / 2) 0 var(--input-l-pad);
  border-width: var(--search-bar-bd-w);
  border-radius: var(--search-bar-bd-rd) 0 0 var(--search-bar-bd-rd);
  border-width: 2px;
}

.search-button {
  outline: 0;
  height: calc(var(--sm-input-height));
  width: calc(var(--sm-input-height));
  border-width: var(--search-bar-bd-w);
  border-radius: 0 var(--search-bar-bd-rd) var(--search-bar-bd-rd) 0;
  padding: 0 0.5rem 0 0;
}

.search-button:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color white 1s ease;
}

.search-icon {
  font-size: 1.2rem;
  transition: font-size 0.1s ease;
}

.search-icon:hover {
  color: white;
  font-size: 1.3rem;
}
